name: CI

on: [push, pull_request]

jobs:
    build-lil:
        name: Build lil
        runs-on: ubuntu-24.04
        container: debian:trixie
        steps:
          - name: Install prerequisites
            run: |
                set -x
                apt-get update
                apt-get install -y gcc ninja-build clang-tidy python3-pip
                pip3 install meson --break-system-packages
          - name: Checkout lil
            uses: actions/checkout@v2
          - name: Prepare build
            run: |
                set -x
                mkdir -p build build-freestanding build-util
                meson setup --buildtype=debugoptimized --cross-file=.github/workflows/ci.cross-file build/
                meson setup --buildtype=debugoptimized -Dc_args="-ffreestanding" -Dcpp_args="-ffreestanding" --cross-file=.github/workflows/ci.cross-file build-freestanding/
                meson setup --buildtype=debugoptimized --native-file=.github/workflows/ci.cross-file -Dbuild_utils=true build-util/
          - name: Build lil
            run: |
                set -x
                ninja
            working-directory: build/
          - name: Build lil (freestanding)
            run: |
                set -x
                ninja
            working-directory: build-freestanding/
          - name: Build lil-utils
            run: |
                set -x
                ninja
            working-directory: build-util/
          - name: Run clang-tidy
            run: |
                run-clang-tidy -config-file .clang-tidy -p build -extra-arg=-fno-caret-diagnostics -warnings-as-errors=* -quiet "\.(h|c|cpp|hpp)$"
